<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.cloudchain.yboxclient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:name="cn.cloudchain.yboxclient.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cn.cloudchain.yboxclient.MainGridActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.cloudchain.yboxclient.StatusInfoActivity"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="cn.cloudchain.yboxclient.SettingActivity"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="cn.cloudchain.yboxclient.TrafficDetailActivity"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="cn.cloudchain.yboxclient.WlanSetActivity"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="cn.cloudchain.yboxclient.WifiSetActivity"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="cn.cloudchain.yboxclient.DevicesActivity"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="cn.cloudchain.yboxclient.ProgramActivity"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="cn.cloudchain.yboxclient.LoginActivity"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="cn.cloudchain.yboxclient.DeviceBindActivity"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="cn.cloudchain.yboxclient.VideoPlayerActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape" />
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service android:name="cn.cloudchain.yboxclient.server.BroadcastService" />
        <service android:name="cn.cloudchain.yboxclient.server.TvStatusService" />
    </application>

</manifest>